html {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

#typeDropdown, #searchInput {
  margin: 0;
  height: 40px;
}

.navbar img {
  height: 90px;
  vertical-align: middle;
}

.btn {
  background-color: rgba(60,90,166,1);
  color: white;
  border: none;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.btn:hover {
  background-color: rgba(255,203,5,1);
}

.btn:active .btn:focus {
  background-color: rgba(255,203,5,.5);
}

.pokemonList {
  list-style: none;
  margin: 1px;
}

.modalContainer {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 24px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modalContainer.is-visible {
  display: block;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 999;
}

.overlay.is-visible {
  display: block;
}

#closeModal {
  text-decoration: underline;
  background-color: inherit;
  border: none;
  text-align: center;
}

#loadingMessage {
  display: none;
}

.modal-body {
  display: flex;
  align-items: center; 
}

.modal-body p {
  flex-grow: 1;
  padding-right: 10px;
}

@media (max-width: 991px) {
  .navbar-collapse {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1000;
    display: none; 
    transition: all 0.3s ease;
  }
  
  .navbar-toggler {
    position: relative;
  }

  .navbar-toggler:focus + .navbar-collapse,
  .navbar-collapse:hover {
    display: block; 
  }

  .navbar-nav .form-inline {
    margin-bottom: 10px;
  }
}